@page "/matchoverview"
@using Foosball.Application.Dtos
@rendermode InteractiveServer

@inject FoosballMatchApiClient FoosballMatchApiClient

<PageTitle>Matches</PageTitle>

<h1>Matches</h1>

@if (matches == null)
{
    <p>Loading...</p>
}
else if (matches.Count == 0)
{
    <p>No matches found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Match ID</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Score</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in matches)
            {
                <tr>
                    <td>@match.MatchId</td>
                    <td>@match.Team1.Defender - @match.Team1.Attacker</td>
                    <td>@match.Team2.Defender - @match.Team2.Attacker</td>
                    <td>@match.ScoreTeam1 - @match.ScoreTeam2</td>
                    <td>
                        <a href="@($"/matchdetails/{match.MatchId}")">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MatchDto> matches;

    protected override async Task OnInitializedAsync()
    {
        var response = await FoosballMatchApiClient.GetMatchesAsync();
        matches = response.Matches;
    }
}
